/*
Animation: 
- Thuộc tính tạo hiệu ứng cho trang web
- Sử dụng @keyframes để định nghĩa hiệu ứng (Tạo 1 kịch bản)
*/
@keyframes color {
  0% {
    /* Tương đương với 0% */
    background-color: red;
  }
  /* 50% {
    scale: 1.5;
  }

  75% {
    rotate: 180deg;
  } */

  100% {
    /* Tương đương với 100% */
    background-color: blueviolet;
  }
}
.box {
  /* background: green; */
  border: 1px solid red;
  width: 400px;
  height: 400px;
  margin: 30px auto;
  /* animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 2s; 
  animation-timing-function: giống transition
  */
  position: relative;
}

.box span {
  display: block;
  width: 50px;
  height: 50px;
  background: green;
  position: absolute;
  left: 0;
  top: 0;
  animation-name: run;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes run {
  25% {
    top: 0;
    left: 100%;
    translate: -100% 0;
  }
  50% {
    top: 100%;
    left: 100%;
    translate: -100% -100%;
  }
  75% {
    left: 0;
    top: 100%;
    translate: 0 -100%;
  }
}
