.box {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.box span {
  width: 20px;
  height: 90px;
  background: red;
  border-radius: 5px;
  display: block;
  margin: 0 5px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.col-2 {
  animation-delay: 0.1s;
}
.col-3 {
  animation-delay: 0.2s;
}
.col-4 {
  animation-delay: 0.3s;
}
@keyframes loading {
  50% {
    height: 30px;
  }
}
