.skeleton {
  width: 400px;
  height: 250px;
  background: #e6e6e7;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 40%,
    rgba(255, 255, 255, 0.157) 50%,
    transparent 60%,
    transparent 100%
  );
  translate: -100%;
  animation-name: sekeleton;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes sekeleton {
  100% {
    translate: 100%;
  }
}
/* .animate__backInLeft {
  animation-iteration-count: infinite;
} */
