//Biến (Variable)
//1. Biến toàn cục (Global Variable)
//2. Biến cục bộ (Local Variable)

//Cú pháp: $tenbien: giatri

//Lưu ý: Nên đặt tên biến theo cú pháp camelCase
//Đặc điểm: Từ đầu tiên viết thường, từ thứ hai trở đi viết hoa ký tự đầu
//Ví dụ: $primaryColor, $backgroundColor, $fontFamily

//Toán tử: +, -, *, /, % (Chia lấy dư)
//Biến trong SCSS sẽ nhận các giá trị: tên thuộc tính css, giá trị thuộc tính css, số, true, false, chuỗi, mảng (Nói sau)

$primaryColor: red;
$size: 10px;
$width: 200;
$propertyName: color; //color: tên thuộc tính css
$selector: ".box"; //Chuỗi
$type: "large"; //Chuỗi

header {
  $a: "item";
  background: $primaryColor;
  font-size: $size + 20px;
  //   width: $width + 0px;
  // width: #{$width + 100}px;
  width: $width + 0%;
  #{$propertyName}: red;
  #{"." + $a} {
    color: yellow;
  }
}

#{$selector + "-" + $type} {
  color: red;
}
