/*
Thuộc tính display: Thay đổi chế độ hiển thị của 1 thẻ html
- none --> Ẩn
- block --> Hiển thị dưới dạng block
- inline --> Hiển thị dưới dạng inline
- inline-block --> Kết hợp inline và block

Lưu ý: Thuộc tính display có rất giá trị phức tạp
- flex, inline-flex
- grid, inline-grid
- table
- list-item
- table-cell

Thuộc tính visibility: Ẩn / Hiện thành phần html (Giữ không gian)

Thuộc tính opacity: Trong suốt 1 thẻ html theo tỷ lệ: 0 -> 1
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

.title {
  display: inline-block;
  border: 1px solid red;
  padding: 10px 20px;
}

.title:hover {
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0;
}

/*
float
position
*/
