/*
Thuộc tính transform: Biến đổi hình dạng html
- Xoay
- Phóng to / Thu nhỏ
- Nghiêng
- Di chuyển

Cú pháp: transform: value
- rotate(angle) --> Xoay 2D theo trục Z
- rotateX(angle) --> Xoay theo trục X
- rotateY(angle) --> Xoay theo trục Y
- scale(x,y) --> Phóng to / thu nhỏ theo tỷ lệ x,y
- scaleX(value) --> Phóng to theo trục X
- scaleY(value) --> Phóng to theo trục Y
- skew(x, y) --> Nghiêng theo góc x, y
- skewX(value) --> Nghiêng theo trục X
- skewY(value) --> Nghiêng theo trục Y
- translate(x,y) --> Di chuyển theo x, y
- translateX --> Di chuyển theo trục X
- translateY --> Di chuyển theo trục Y
Lưu ý: Nếu đơn vị là % --> Tỷ lệ với kích thước của chính nó

Các thuộc tính bổ sung
- rotate --> Tương tự transform: rotate()
- scale --> Tương tự transform: scale()
- translate --> Tương tự transform: translate()

Thuộc tính transform-origin: x y --> Xác định vị trí của trục (Mặc định: 50% 50%)
*/
.wrap {
  border: 1px solid red;
  padding: 30px;
}
.box {
  width: 300px;
  height: 300px;
  background: green;
  margin: 30px auto;
  transition: all 0.4s linear;
  transform-origin: 50% 0;
}
.wrap:hover .box {
  /* transform: translate(100%); */
  /* rotate: 30deg; */
  /* translate: 100px 100px; */
  scale: 1.5 1.5;
}
