/*
Thuộc tính line-height: Thiết lập chiều cao của dòng chữ
Cú pháp: line-height: value + unit hoặc value

Thuộc tính font-family: Thiết lập font chữ cho văn bản
Cú pháp: font-family: font1, font2, font3,..
*/
/* .content {
  font-size: 30px;
  line-height: 1.5;
} */

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts//OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: OpenSans, sans-serif;
  font-weight: 500;
  font-style: italic;
}
