* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #2c3e50;
  color: #fff;
}

.menu {
  width: 80%;
  margin: 30px auto;
  background: #34495e;
  font-size: 0;
  border-radius: 5px;
}
.menu > ul > li {
  display: inline-block;
}
.menu ul li a {
  display: block;
  padding: 10px 20px;
  font-size: initial;
}
.menu ul > li:hover > a {
  background: #1abc9c;
  border-radius: 5px;
}
.menu > ul ul {
  display: none;
  position: absolute;
  background: burlywood;
  min-width: 200px;
}

.menu > ul > li:hover ul {
  display: block;
}
