/*
Flex = Flexible Box Module
- Kỹ thuật chia layout linh hoạt
- Trục: Main và Cross
- Thành phần: Flex Container và Flex Item

1. Các thuộc tính trong nhóm flex container
- display: flex --> Kích hoạt flex
- flex-direction: Chọn hướng cho trục chính
+ row --> Mặc định
+ column
+ row-reverse
+ column-reverse
- justify-content: Căn chỉnh các item theo hướng song song với trục chính
+ flex-start
+ flex-end
+ center
+ space-between
+ space-around
+ space-evenly
+ start --> Về tìm hiểu
+ end --> Về tìm hiểu
- align-items: Căn chỉnh các item theo hướng vuông góc với trục chính
+ stretch
+ flex-start
+ center
+ flex-end
+ baseline

- flex-wrap: Wrap các item nếu tổng kích thước > kích thước của container
+ nowrap
+ wrap
+ wrap-reverse

- align-content: Căn chỉnh hàng (flex-direction: row), cột (flex-direction: column) --> Chỉ áp dụng khi có từ 2 hàng (cột trở lên)
+ stretch
+ flex-start
+ flex-end
+ center
+ space-between
+ space-around
+ space-evenly

gap: Khoảng cách giữa các items
- row-gap
- column-gap

2. Các thuộc tính trong nhóm flex item

flex-grow: Lấp đầy khoảng cách còn thừa của flex container (Mặc định = 0)

flex-shrink

flex-basis: Bị chặn bởi min-width, max-width (flex-direction: row), min-height, max-height (flex-direction: collumn)

flex: grow shrink basis

align-self: Căn chỉnh 1 item theo trục cross
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 400px;
  height: 300px;
  border: 1px solid red;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
  /* align-content: center; */
  /* gap: 10px 20px; */
  /* row-gap: 10px;
  column-gap: 20px; */
}
.item {
  background: green;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  /* flex-grow: 1;
  flex-shrink: 0; */
  /* flex-basis: 75px;
  max-width: 70px; */
  flex: 0 1 75px;
}

.item:nth-child(4) {
  align-self: center;
}

.item:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
