@use "./variables" as bien; //Để file header sử dụng
@forward "./variables"; //Để file import file header sử dụng
@forward "./footer" as footer-*; //Thêm tiền tố khi forward

$headerBg: blue;
// %center {
//   margin: 0 auto;
//   max-width: 1000px;
// }
$-fontSize: 16px; //Private member (Không cho file khác sử dụng)
header {
  padding: 30px 0;
  font-size: $-fontSize;
  .inner {
    background: bien.$primaryColor;
  }
}
