/*
Transition: Nhóm các thuộc tính để thiết lập thời gian chuyển động của các thuộc tính css

transition-property: none | all | ten-thuoc-tinh
transition-duration: value + unit (s, ms)
transition-delay: value + unit (s, ms)
transition-timing-function: Quy định tốc độ qua mỗi giai đoạn chuyển động
+ ease --> Chậm - Nhanh - Chậm
+ linear --> Tốc độ đều
+ ease-in --> Chậm - Nhanh
+ ease-out --> Nhanh - Chậm
+ ease-in-out --> Chậm - Nhanh - Chậm
+ cubic-bezier(p1, p2, p3, p4)
Lưu ý: Thuộc tính transition chỉ tác dụng với các thuộc tính có giá trị là số
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  padding: 20px;
  border: 1px solid red;
  margin-top: 30px;
}
.box h2 {
  transition-property: padding-left;
  transition-duration: 2s;
  /* transition-delay: 1s; */
  transition-timing-function: cubic-bezier(0, 0.98, 0, 1.53);
}
.box:hover h2 {
  padding-left: 100px;
  /* padding-top: 100px; */
  /* display: none; */
  /* visibility: hidden; */
  /* display: none; */
  /* opacity: 0; */
}
